{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Все Экскурсии{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/excursions.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
{% endblock %}

{% block content %}
    <div class="header-search-container">
        <h2 class="excursions-title">{% trans "Все экскурсии" %}</h2>
        <div class="search-container">
            <div class="search-input-wrapper">
                <input type="text" placeholder="{% trans 'Введите название места или экскурсии' %}" class="search-input" id="searchInput">
                <img class="search-icon" src="{% static 'images/ic_search_48px.png' %}" alt="Search">
                <button class="search-clear" id="searchClear" style="display: none;">×</button>
            </div>
            <div class="search-results" id="searchResults"></div>
        </div>
    </div>
    
    <div class="content-wrapper">
        <form id="filterForm" method="GET" action="{% url 'all_excursions' %}">
            <div class="filter-category">
                <div class="filter-header">
                    <img src="{% static 'images/excurse type.png' %}" alt="Type" class="filter-icon">
                    <h4>{% trans "Тип экскурсии" %}</h4>
                </div>
                <label><input type="checkbox" name="group_type" value="Групповые" onchange="handleFilterChange(event)"> {% trans "Групповые" %} </label>
                <label><input type="checkbox" name="group_type" value="Индивидуальные" onchange="handleFilterChange(event)"> {% trans "Индивидуальные" %} </label>
                <label><input type="checkbox" name="group_type" value="Семейные" onchange="handleFilterChange(event)"> {% trans "Семейные" %} </label>
            </div>
            <div class="filter-category">
                <div class="filter-header">
                    <img src="{% static 'images/access_time.png' %}" alt="Duration" class="filter-icon">
                    <h4>{% trans "Длительность" %}</h4>
                </div>
                <label><input type="checkbox" name="duration" value="Несколько часов" onchange="handleFilterChange(event)"> {% trans "Несколько часов" %} </label>
                <label><input type="checkbox" name="duration" value="1 день" onchange="handleFilterChange(event)"> {% trans "1 день" %} </label>
                <label><input type="checkbox" name="duration" value="Несколько дней" onchange="handleFilterChange(event)"> {% trans "Несколько дней" %} </label>
            </div>
            <div class="filter-category">
                <div class="filter-header">
                    <img src="{% static 'images/language.png' %}" alt="Language" class="filter-icon">
                    <h4>{% trans "Язык" %}</h4>
                </div>
                <label><input type="checkbox" name="language" value="Казахский" onchange="handleFilterChange(event)">{% trans "Казахский" %} </label>
                <label><input type="checkbox" name="language" value="Русский" onchange="handleFilterChange(event)"> {% trans "Русский" %} </label>
                <label><input type="checkbox" name="language" value="Английский" onchange="handleFilterChange(event)"> {% trans "Английский" %} </label>
            </div>
        </form>

        <section class="popular-excursions">
            <div class="excursion-cards-container">
                {% for location, excursions in grouped_excursions.items %}
                    <h3>
                        <img src="{% static 'images/Vector.png' %}" alt="Vector" class="vector-icon">
                        {{ location }}
                    </h3>
                    <div class="excursion-slider-container">
                        <button class="slider-button prev" onclick="slideCards(this, -1)">
                            <img src="{% static 'images/arrow-left.png' %}" alt="Previous">
                        </button>
                        <div class="excursion-cards">
                            {% for excursion in excursions %}
                            <div class="excursion-card">
                                <img src="{{ excursion.image_url }}" alt="{{ excursion.title }}">
                                <div class="card-content">
                                    <h3>{{ excursion.translated_title }}</h3>
                                    <p class="tour-type">{% trans excursion.duration %}</p>
                                    <div class="price-book">
                                        <span class="price">{{ excursion.price }} ₸</span>
                                        <button class="book-button" onclick="window.location.href='{% url 'excursion_detail' excursion.id %}'">{% trans "Забронировать" %}</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="slider-button next" onclick="slideCards(this, 1)">
                            <img src="{% static 'images/arrow-right.png' %}" alt="Next">
                        </button>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %} 