<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>KazTour</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <!-- Контейнер для toast-уведомлений -->
    <div class="toast-container" id="toastContainer"></div>

    {% include 'navbar.html' %}

    <div class="image-container">
        <img class="fon-image" src="{% static 'images/be inspired seasons 3 1.png' %}">
        <div class="overlay">
            <h1>{% trans "Откройте для себя красоту Казахстана" %}</h1>
            <p>{% trans "Исследуйте захватывающие дух пейзажи и богатое" %} <br> {% trans "культурное наследие с нашими экскурсиями с гидом" %}</p>
                <div class="search-container">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="{% trans 'Введите название места или экскурсии' %}" class="search-input" id="searchInput">
                        <img class="search-icon" src="{% static 'images/ic_search_48px.png' %}" alt="{% trans 'Поиск' %}">
                        <button class="search-clear" id="searchClear" style="display: none;">×</button>
                    </div>
                    <div class="search-results" id="searchResults"></div>
                </div>
        </div>
    </div>
    
    <div class="content-container">
        <section class="popular-excursions">
            <h2>{% trans "Популярные экскурсии" %}</h2>
            <div class="home-excursion-container">
                {% for excursion in excursions %}
                <div class="home-excursion-card">
                    <img src="{{ excursion.image_url }}" alt="{{ excursion.title }}">
                    <div class="card-content">
                        <h3>{{ excursion.title }}</h3>
                        <p class="tour-type">{{ excursion.duration }}</p>
                        <div class="price-book">
                            <span class="price">{{ excursion.price }} ₸</span>
                            <button class="book-button" onclick="window.location.href='{% url 'excursion_detail' excursion.id %}'">{% trans "Забронировать" %}</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {% include 'modal.html' %}
    {% include 'feedback.html' %}
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
