<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>KazTour</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="nav-kaztour">KazTour</a>
            <div class="nav-links">
            <a href="{% url 'all_excursions' %}" class="nav-excursions">{% trans "Экскурсии" %}</a>
            {% if request.user.is_superuser %}
            <a href="#" onclick="showCreateAgentModal()" class="nav-tour-agent-register">{% trans "Регистрация турагента" %}</a>
            <a href="{% url 'tour_agent_list'%}" class="nav-tour-agent-list">{% trans "Турагенты" %}</a>
            {% endif %}
            {% if request.user.role == 'tour_agent' %}
            <a href="{% url 'my_excursions'%}" class="nav-tour-agent-excursions">{% trans "Ваши экскурсии" %}</a>
            <a href="{% url 'create_excursion'%}" class="nav-tour-create-excursions">{% trans "Создать экскурсию" %}</a>
            {% endif %}
            <a href="#" onclick="checkAuthAndProceed(() => window.location.href = '{% url 'profile' %}')">
                {% if request.user.avatar %}
                    <img class="nav-profile" src="data:image/jpeg;base64,{{ request.user.avatar|to_base64 }}" alt="Профиль" style="object-fit: cover; border-radius: 50%; width: 48px; height: 48px;" />
                {% else %}
                    <img class="nav-profile" src="{% static 'images/ic_account_circle_48px.png' %}" alt="Профиль" />
                {% endif %}
            </a>
            <div class="language-selector">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == CURRENT_LANGUAGE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
                        </div>
        </div>
    </nav>
    
    <!-- Модальное окно для создания турагента -->
    <div id="createAgentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideCreateAgentModal()">&times;</span>
            <div class="modal-header">
                <h2>{% trans "Создание турагента" %}</h2>
            </div>
            <div class="modal-body">
                <form id="createAgentForm" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">{% trans "Имя пользователя" %}:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">{% trans "Email" %}:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="phone_number">{% trans "Телефон" %}:</label>
                        <input type="text" id="phone_number" name="phone_number" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="password">{% trans "Пароль" %}:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="password2">{% trans "Подтверждение пароля" %}:</label>
                        <input type="password" id="password2" name="password2" required>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="submit-button">{% trans "Создать" %}</button>
                        <button type="button" class="cancel-button" onclick="hideCreateAgentModal()">{% trans "Отмена" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% include 'js_constants.html' %}
    <script src="{% static 'js/tour_agent_list.js' %}"></script>
</body>
</html>