.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
}

.nav-kaztour {
    position: absolute;
    font-family: 'Abhaya Libre ExtraBold';
    color: #21336C;
    font-size: 36px;
    font-weight: 800;
    left: 370px;
    top: 15px;
}

.nav-excursions {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #21336C;
    font-size: 28px;
    font-weight: 700;
    right: 465px;
    top: 24px;
}

.nav-profile {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 363px;
    top: 24px;
    cursor: pointer;
}
.nav-tour-agent-register {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #21336C;
    font-size: 28px;
    font-weight: 700;
    right: 800px;
    top:24px;
}
.nav-tour-agent-list {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #21336C;
    font-size: 28px;
    font-weight: 700;
    right: 630px;
    top:24px;
}
.nav-tour-agent-excursions {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #21336C;
    font-size: 28px;
    font-weight: 700;
    right: 630px;
    top:24px;
}
.nav-tour-create-excursions {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #21336C;
    font-size: 28px;
    font-weight: 700;
    left: 780px;
    top:24px;
}